<main>
  <section class="container-fluid p-4">
    <img src=".\assets\coffees.jpg" alt="Coffee image" />
    <div class="section-body">
      <h2>All Coffees</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, corrupti,
        at voluptatibus autem fuga reiciendis exercitationem adipisci
        repudiandae, nobis maiores dolores asperiores quaerat. Earum, quam!
        Perspiciatis aliquam quas vel similique!
      </p>
    </div>
  </section>
  <section class="container-fluid p-4">
    <img src=".\assets\random-coffee.jpg" alt="Coffee image" />
    <div class="section-body">
      <h2>Random Coffee</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, corrupti,
        at voluptatibus autem fuga reiciendis exercitationem adipisci
        repudiandae, nobis maiores dolores asperiores quaerat. Earum, quam!
        Perspiciatis aliquam quas vel similique!
      </p>
    </div>
  </section>
  <section class="container-fluid p-4">
    <img src=".\assets\new-coffee.jpg" alt="Coffee image"/>
    <div class="section-body">
      <h2>New Coffee</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, corrupti,
        at voluptatibus autem fuga reiciendis exercitationem adipisci
        repudiandae, nobis maiores dolores asperiores quaerat. Earum, quam!
        Perspiciatis aliquam quas vel similique!
      </p>
    </div>
  </section>
</main>
