<div class="container">
    <h3>Create a New Coffee</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="form">

        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="nameInput.invalid && nameInput.touched">
                Name error...
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="text" formControlName="tagline" />
            <mat-error *ngIf="taglineInput.invalid && taglineInput.touched">
                Tagline error...
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <textarea matInput formControlName="description" rows="3"></textarea>
            <mat-error *ngIf="descriptionInput.invalid && descriptionInput.touched">
                Description error...
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="text" formControlName="first_roasted" />
            <mat-error *ngIf="firstRoastedInput.invalid && firstRoastedInput.touched">
                First Roasted error...
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <textarea matInput formControlName="roaster_tips" rows="3"></textarea>
            <mat-error *ngIf="roasterTipsInput.invalid && roasterTipsInput.touched">
                Roaster Tips error...
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="number" formControlName="strength_level" />
            <mat-error *ngIf="strengthLevelInput.invalid && strengthLevelInput.touched">
                Strength Level error...
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="text" formControlName="contributed_by" />
            <mat-error *ngIf="contributedByInput.invalid && contributedByInput.touched">
                Contributed By error...
            </mat-error>
        </mat-form-field>
        <br>

        <button type="submit" [disabled]="registerForm.invalid" mat-raised-button color="accent">
            Create Coffee
        </button>

    </form>

</div>
