
<div class="container">
    <h1>Create a New Coffee</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="nameInput.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Tagline:</mat-label>
            <input matInput type="text" formControlName="tagline" />
            <mat-error *ngIf="taglineInput.hasError('required')">
                Tagline is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Description:</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
            <mat-error *ngIf="descriptionInput.hasError('required')">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>First Roasted:</mat-label>
            <input matInput type="text" formControlName="first_roasted" />
            <mat-error *ngIf="firstRoastedInput.hasError('required')">
                First Roasted is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Roaster Tips:</mat-label>
            <textarea matInput formControlName="roaster_tips" rows="3"></textarea>
            <mat-error *ngIf="roasterTipsInput.hasError('required')">
                Roaster Tips are <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Strength Level:</mat-label>
            <input matInput type="number" formControlName="strength_level" />
            <mat-error *ngIf="strengthLevelInput.hasError('required') || strengthLevelInput.hasError('min')">
                Strength Level is <strong>required</strong>
                and  cannot be <strong>negative</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Contributed By:</mat-label>
            <input matInput type="text" formControlName="contributed_by" />
            <mat-error *ngIf="contributedByInput.invalid && contributedByInput.touched">
                Contributed By error...
            </mat-error>
        </mat-form-field>
        <br>

        <button type="button" (click)="onSubmit()" [disabled]="registerForm.invalid" mat-raised-button>Create Coffee</button>

    </form>


</div>